{% load static %}
<div class="card p-2" role="answer_card" id="answer-{{ answer.id }}">
    <div class="row g-0">
        <div class="d-flex flex-column align-items-center col-md-2 mt-2">
            {% if answer.author.img %}
                <img src="{{ answer.author.img.url}}" class="img-thumbnail" alt="Answer icon" style="width: 100px; height: 100px;">
            {% else %}
                <img src="{% static 'img/default_avatar.png' %}" class="img-thumbnail" alt="Answer icon" style="width: 100px; height: 100px;">
            {% endif %}
            <form class="d-flex align-items-stretch mt-2">
                <input type="number" class="form-control text-center px-0" value={{answer.like.count}} disabled
                    style="width: 40px; height: 40px; border-radius: 0;">
                <div class="btn-group-vertical" role="likes_dislikes" style="width: 30px; height: 40px;">
                    <input type="radio" class="btn-check" name="vote-{{answer.id}}" id="like-{{answer.id}}"
                        autocomplete="off">
                    <label
                        class="btn btn-outline-success btn-sm p-1 d-flex align-items-center justify-content-center"
                        for="like-{{answer.id}}" style="border-radius: 0; height: 50%;">+</label>
                    <input type="radio" class="btn-check" name="vote-{{answer.id}}" id="dislike-{{answer.id}}"
                        autocomplete="off">
                    <label
                        class="btn btn-outline-danger btn-sm p-1 d-flex align-items-center justify-content-center"
                        for="dislike-{{answer.id}}" style="border-radius: 0; height: 50%;">-</label>
                </div>
            </form>
        </div>

        <div class="col-md-10">
            <div class="card-body">
                <p class="card-text">{{answer.text}}</p>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckCorrect-{{answer.id}}">
                    <label class="form-check-label" for="flexCheckCorrect-{{answer.id}}">Correct!</label>
                </div>
            </div>
        </div>
    </div>
</div>