{% extends 'layouts/base.html' %}
{% block content %}
<div role="login_window" class="container-fluid mt-2 align-items-center justify-content-start">
    <h3>Log In</h3>
    <form role="log_in_form" class="d-flex flex-column me-1 gap-2 ms-3 needs-validation" novalidate>

        <div class="form-text login-error text-danger">Wrong email or password!</div>

        <div class="row d-flex gap-2">
            <label for="inputEmail" class="col-md-1 col-form-label">Email</label>
            <div class="col-md-9 me-2">
                <input type="email" class="form-control" id="inputEmail" maxlength="320" placeholder="Enter your email" required>
                <div class="form-text email-hint text-danger">Enter a valid email (e.g. name@example.com)</div>
            </div>
        </div>

        <div class="row d-flex gap-2">
            <label for="inputPassword" class="col-md-1 col-form-label">Password</label>
            <div class="col-md-9 me-2">
                <input type="password" class="form-control" id="inputPassword" minlength="8" maxlength="20" placeholder="Create your password" required>
                <div class="form-text password-hint text-danger">Password must be 8-20 characters long.</div>
            </div>
        </div>

        <div class="row d-flex gap-2">
            <span class="col-md-1 col-form-label"></span>
            <div class="col-md-2 me-2">
                <button class="btn btn-primary login-button" style="border-radius: 0.25rem;">Log In</button>
            </div>
        </div>
    </form>
</div>

<style>
    .form-control {
        border: 1px solid black;
    }
    .form-control:valid {
        border-color: green;
    }
    .form-control:invalid:focus ~ .form-text.email-hint,
    .form-control:invalid:focus ~ .form-text.password-hint {
        display: block;
    }
    .form-control:valid ~ .form-text.email-hint,
    .form-control:valid ~ .form-text.password-hint {
        display: none;
    }
    .form-control:focus:invalid ~ .form-text.email-hint {
        display: block;
    }
    .form-control:focus:invalid ~ .form-text.password-hint {
        display: block;
    }
    .form-text {
        display: none;
    }
</style>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const button = document.querySelector(".login-button");
        const errorMessage = document.querySelector(".login-error");

        button.addEventListener("click", function (event) {
            event.preventDefault();
            errorMessage.style.display = "block";
        });
    });
</script>

{% endblock %}