{% extends 'layouts/base.html' %}
{% load static %}
{% block content %}
<div role="opened_question" class="container-fluid mt-2 align-items-center justify-content-start">
    <div class="p-2 mb-4" role="question_card">
        <div class="row g-0">
            <div class="d-flex flex-column align-items-center col-md-3 mt-2 me-2">
                {% if question.author.img %}
                    <img src="{{question.author.img.url}}" class="img-thumbnail" alt="Question icon" style="width: 150px; height: 150px;"> 
                {% else %}
                    <img src="{% static 'img/default_avatar.png' %}" class="img-thumbnail" alt="Question icon" style="width: 150px; height: 150px;">
                {% endif %}
                <form class="d-flex align-items-stretch mt-2">
                    <input type="number"
                           class="form-control text-center px-0"
                           id="like-counter-question-{{ question.id }}"
                           value="{{ question.likes_amount|default:0 }}"
                           disabled
                           style="width: 40px; height: 40px; border-radius: 0;">
                
                    <div class="btn-group-vertical"
                         role="likes_dislikes"
                         style="width: 30px; height: 40px;"
                         data-question-id="{{ question.id }}">
                
                        <button type="button"
                                class="btn btn-outline-success btn-sm p-1 d-flex align-items-center justify-content-center"
                                data-type="question"
                                data-id="{{ question.id }}"
                                data-value="1"
                                style="border-radius: 0; height: 50%;">+
                        </button>
                        <button type="button"
                                class="btn btn-outline-danger btn-sm p-1 d-flex align-items-center justify-content-center"
                                data-type="question"
                                data-id="{{ question.id }}"
                                data-value="-1"
                                style="border-radius: 0; height: 50%;">-
                        </button>
                    </div>
                </form>
            </div>

            <div class="col-md-7">
                <div class="card-body">
                    <h3 class="card-title mb-2">{{ question.title }}</h3>
                    <p class="card-text">{{question.text}}</p>
                    <div class="d-flex gap-2" role="tags">
                        Tags:
                        {% for tag in question.tags.all %}
                        <a href="{{ tag.get_absolute_url }}">{{tag.name}}</a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <hr class="hr" />
    {%if answers%}
    <div role="answers" class="container-fluid mt-2 align-items-center justify-content-start">
        <div class="d-flex flex-column gap-2 w-100" role="cards_of_questions">
            {% for answer in answers %}
            {%include 'layouts/answer_card.html'%}
            {%endfor%}
        </div>

        {%include 'layouts/paginator.html' with cards=answers%}
    </div>
    {% else %}
    <div class="d-flex gap-2 align-items-center">
        <h5>No one answered yet... Be first!</h5>
    </div>
    {%endif%}
    <hr class="hr" />
    <form method="POST" action="{% url 'question' question.id %}" class="input-group d-flex flex-column">
        {% csrf_token %}
    
        <textarea name="text"
                  class="form-control w-100 {% if form.text.errors %}is-invalid{% endif %}"
                  rows="4"
                  placeholder="Enter your answer here...">{{ form.text.value|default_if_none:'' }}</textarea>
    
        {% if form.text.errors %}
            <div class="invalid-feedback d-block">
                {{ form.text.errors.0 }}
            </div>
        {% endif %}
    
        <button type="submit" class="btn btn-primary col-md-2 mt-2 ms-1" style="border-radius: 0.25rem;">Answer!</button>
    </form>
</div>
{% endblock %}