{% extends 'layouts/base.html' %}
{% block content %}
{% load static %}
<div role="signup_window" class="container-fluid mt-2 align-items-center justify-content-start">
    <h3>Settings</h3>
    <form role="log_in_form" class="d-flex flex-column me-1 gap-2 ms-3 needs-validation" novalidate>
        <div class="row d-flex gap-2">
            <label for="inputLogin" class="col-md-2 col-form-label">Login</label>
            <div class="col-md-8 me-2">
                <input type="login" class="form-control" id="inputLogin" minlength="5" maxlength="30"
                    placeholder="Enter your new login" value="{{user.username}}" pattern="^[a-z0-9_]{5,30}$">
                <div class="form-text login-hint text-danger">Login has to be 5-30 characters long and consists of
                    lowercase latin letters, numbers, and underscores (_).</div>
            </div>
        </div>
        <div class="row d-flex gap-2">
            <label for="inputEmail" class="col-md-2 col-form-label">Email</label>
            <div class="col-md-8 me-2">
                <input type="email" class="form-control" id="inputEmail" maxlength="320" placeholder="Enter your new email" value="{{user.email}}"
                    required>
                <div class="form-text email-hint text-danger">Enter a valid email (e.g. name@example.com)</div>
            </div>
        </div>

        <div class="row d-flex gap-2">
            <label for="inputNickname" class="col-md-2 col-form-label">Nickname</label>
            <div class="col-md-8 me-2">
                <input type="nickname" class="form-control" id="inputNickname" minlength="5" maxlength="30"
                    placeholder="Enter a new nickname" value="{{profile.nickname}}" required>
                <div class="form-text nickname-hint text-danger">This field cannot be empty. Minimum 5 characters.</div>
            </div>
        </div>
        <div class="row d-flex gap-2">
            <label class="col-md-2 col-form-label" for="inputGroupFile01">Current avatar</label>
            <div class="col-md-8 me-2">
                <img src="{{profile.img}}" alt="Current avatar" style="max-width: 150px;">
            </div>
        </div>
        <div class="row d-flex gap-2">
            <label class="col-md-2 col-form-label" for="inputGroupFile01">Upload new avatar</label>
            <div class="col-md-8 me-2">
                <input type="file" class="form-control" id="inputGroupFile01" accept="image/*" required">
            </div>
        </div>

        <div class="row d-flex gap-2">
            <span class="col-md-2 col-form-label"></span>
            <div class="col-md-2 me-2">
                <button class="btn btn-primary signup-button" style="border-radius: 0.25rem;">Save</button>
            </div>
        </div>
    </form>
</div>

<style>
    .form-control {
        border: 1px solid black;
    }

    .form-control:valid {
        border-color: green;
    }

    .form-control:invalid:focus~.form-text.nickname-hint,
    .form-control:invalid:focus~.form-text.login-hint,
    .form-control:invalid:focus~.form-text.email-hint,
    .form-control:invalid:focus~.form-text.password-hint {
        display: block;
    }

    .form-control:valid~.form-text.nickname-hint,
    .form-control:valid~.form-text.login-hint,
    .form-control:valid~.form-text.email-hint,
    .form-control:valid~.form-text.password-hint {
        display: none;
    }

    .form-control:focus:invalid~.form-text.nickname-hint {
        display: block;
    }

    .form-control:focus:invalid~.form-text.login-hint {
        display: block;
    }

    .form-control:focus:invalid~.form-text.email-hint {
        display: block;
    }

    .form-control:focus:invalid~.form-text.password-hint {
        display: block;
    }

    .form-text {
        display: none;
    }
</style>
{% endblock %}