{% extends 'layouts/base.html' %}
{% block content %}
{% load static %}
<div role="signup_window" class="container-fluid mt-2 align-items-center justify-content-start">
    <h3>Registration</h3>
    <form role="signup_form" class="d-flex flex-column me-1 gap-2 ms-3 needs-validation" method="post" enctype="multipart/form-data" novalidate>
        {% csrf_token %}

        {% if form.errors %}
            {% if form.non_field_errors %}
                {% for error in form.non_field_errors %}
                    <div class="form-text login-error text-danger" style="display: block;">{{ error }}</div>
                {% endfor %}
            {% endif %}
        {% endif %}

        <div class="row d-flex gap-2">
            <label for="id_username" class="col-md-2 col-form-label">Login</label>
            <div class="col-md-8 me-2">
                <input type="text" name="username" class="form-control {% if form.username.errors %}is-invalid{% endif %}" id="id_username"
                    minlength="5" maxlength="30" pattern="^[a-z0-9_]{5,30}$" required placeholder="Create your login"
                    value="{{ form.username.value|default:'' }}">
                <div class="form-text login-hint" style="color: gray;">
                    Login has to be 5-30 characters long and consists of lowercase latin letters, numbers, and underscores (_).
                </div>
                {% if form.errors.username %}
                    <div class="form-text text-danger" style="display: block;">{{ form.errors.username.0 }}</div>
                {% endif %}
            </div>
        </div>

        <div class="row d-flex gap-2">
            <label for="id_email" class="col-md-2 col-form-label">Email</label>
            <div class="col-md-8 me-2">
                <input type="email" name="email" class="form-control {% if form.email.errors %}is-invalid{% endif %}" id="id_email"
                    maxlength="320" required placeholder="Enter your email" value="{{ form.email.value|default:'' }}">
                <div class="form-text email-hint" style="color: gray;">
                    Enter a valid email (e.g. name@example.com)
                </div>
                {% if form.errors.email %}
                    <div class="form-text text-danger" style="display: block;">{{ form.errors.email.0 }}</div>
                {% endif %}
            </div>
        </div>

        <div class="row d-flex gap-2">
            <label for="id_nickname" class="col-md-2 col-form-label">Nickname</label>
            <div class="col-md-8 me-2">
                <input type="text" name="nickname" class="form-control {% if form.nickname.errors %}is-invalid{% endif %}" id="id_nickname"
                    minlength="5" maxlength="30" required placeholder="Create a nickname"
                    value="{{ form.nickname.value|default:'' }}">
                <div class="form-text nickname-hint" style="color: gray;">
                    This field cannot be empty. Minimum 5 characters.
                </div>
                {% if form.errors.nickname %}
                    <div class="form-text text-danger" style="display: block;">{{ form.errors.nickname.0 }}</div>
                {% endif %}
            </div>
        </div>

        <div class="row d-flex gap-2">
            <label for="id_password" class="col-md-2 col-form-label">Password</label>
            <div class="col-md-8 me-2">
                <input type="password" name="password" class="form-control {% if form.password.errors %}is-invalid{% endif %}" id="id_password"
                    minlength="8" maxlength="20" required placeholder="Create a password">
                <div class="form-text password-hint" style="color: gray;">
                    Password must be 8-20 characters long.
                </div>
                {% if form.errors.password %}
                    <div class="form-text text-danger" style="display: block;">{{ form.errors.password.0 }}</div>
                {% endif %}
            </div>
        </div>

        <div class="row d-flex gap-2">
            <label for="id_confirm_password" class="col-md-2 col-form-label">Confirm Password</label>
            <div class="col-md-8 me-2">
                <input type="password" name="confirm_password" class="form-control {% if form.confirm_password.errors %}is-invalid{% endif %}" id="id_confirm_password"
                    minlength="8" maxlength="20" required placeholder="Enter your password again">
                    {% if form.errors.confirm_password %}
                    <div class="form-text text-danger" style="display: block;">{{ form.errors.confirm_password.0 }}</div>
                {% endif %}
            </div>
        </div>

        <div class="row d-flex gap-2">
            <label class="col-md-2 col-form-label" for="id_img">Upload avatar</label>
            <div class="col-md-8 me-2">
                <input type="file" name="img" class="form-control {% if form.img.errors %}is-invalid{% endif %}" id="id_img" accept="image/*">
                {% if form.errors.img %}
                    <div class="form-text text-danger" style="display: block;">{{ form.errors.img.0 }}</div>
                {% endif %}
            </div>
        </div>

        <div class="row d-flex gap-2">
            <span class="col-md-2 col-form-label"></span>
            <div class="col-md-2 me-2">
                <button type="submit" class="btn btn-primary signup-button" style="border-radius: 0.25rem;">Sign Up</button>
            </div>
        </div>
    </form>
</div>

<style>
    .form-control {
        border: 1px solid black;
    }

    .form-control.is-invalid {
        border-color: red;
    }

    .form-control:valid {
        border-color: green;
    }
    .form-control:invalid:focus ~ .form-text.login-hint,
    .form-control:invalid:focus ~ .form-text.email-hint,
    .form-control:invalid:focus ~ .form-text.nickname-hint,
    .form-control:invalid:focus ~ .form-text.password-hint {
        display: block;
    }
    .form-text {
        display: none;
    }
</style>
{% endblock %}