{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}
<div role="questions" class="container-fluid mt-2 align-items-center justify-content-start">
    <div class="d-flex gap-2 align-items-center">
        <h3>Tag: {{tag.name}}</h3>
    </div>
{%if questions%}
    <div class="d-flex flex-column gap-2 w-100" role="cards_of_questions">
        {% for question in questions %}
        {%include 'layouts/question_card.html'%}
        {%endfor%}
    </div>
{%include 'layouts/paginator.html' with cards=questions%}
{% else %}
<div class="d-flex gap-2 align-items-center">
    <h5>No questions with this tag found!</h5>
</div>
{% endif %}
{% endblock %}